['id', 'pageurl', 'eid', 'mid', 'event_name', 'event_org', 'event_date',
       'event_place', 'f1pageurl', 'f2pageurl', 'f1name', 'f2name', 'f1result',
       'f2result', 'f1fid', 'f2fid', 'method', 'method_d', 'ref', 'round',
       'duration', 'id', 'url', 'fid', 'name', 'nick', 'birth_date', 'height',
       'weight', 'association', 'class', 'locality', 'country', 'id', 'url',
       'fid', 'name', 'nick', 'birth_date', 'height', 'weight', 'association',
       'class', 'locality', 'country']

In [109]:
import pandas as pd
from ggplot import *
import matplotlib.pyplot as plt
%matplotlib inline
import psycopg2


try:
    conn = psycopg2.connect("dbname='samkreter' user='samkreter' host='localhost'")
except:
    print("I am unable to connect to the database")

cur = conn.cursor()
df = pd.read_sql_query("select  fights.f1result, f1.birth_date AS f1_birth_date, f1.height AS f1_height, \
       f1.weight AS f1_weight, f2.birth_date AS f2_birth_date, f2.height AS f2_height, f2.weight AS f2_weight \
        from fights INNER JOIN fighters AS f1 ON fights.f1name = f1.name INNER JOIN fighters AS f2 ON fights.f2name = f2.name;", conn)
conn.close()

In [95]:
df.head()

,f1result,f1_birth_date,f1_height,f1_weight,f2_birth_date,f2_height,f2_weight
0,win,None,0,155,None,0,0
1,win,1974-12-06,67,135,1969-07-16,72,160
2,win,1974-07-26,72,169,1973-05-20,70,170
3,win,1974-07-26,72,169,1973-05-20,70,170
4,win,1974-12-06,67,135,1978-12-13,69,145

In [110]:
import datetime as DT
from dateutil.relativedelta import relativedelta


pd.set_option('display.max_columns', None)

In [111]:
#Convert results to numbers 
df['f1result'] = df['f1result'].replace(['win', 'draw', 'NC'],[1,2,2])

In [112]:
#Convert the birthdate to an age############
now = DT.datetime.now().date()
def t(x):
    try:
        return int((now - x).days / 365)
    except:
        return 0
    
df["f1_age"] = df["f1_birth_date"].apply(t)
df["f2_age"] = df['f2_birth_date'].apply(t)


del df['f1_birth_date']
del df['f2_birth_date']

df.head()

   f1result  f1_height  f1_weight  f2_height  f2_weight  f1_age  f2_age
0         1          0        155          0          0       0       0
1         1         67        135         72        160      42      47
2         1         72        169         70        170      42      43
3         1         72        169         70        170      42      43
4         1         67        135         69        145      42      38

In [114]:
df2 = df.copy()
tmp = df2[["f1_height","f1_weight","f1_age"]]
df2[["f1_height","f1_weight","f1_age"]] = df2[["f2_height","f2_weight","f2_age"]]
df2[["f2_height","f2_weight","f2_age"]] = tmp

df2['f1result'] = 0


#Create the labels
y1 = df['f1result']
y2 = df2['f1result']

y = y1.append(y2)
X = df.append(df2)
X.head()
#y.head()

   f1result  f1_height  f1_weight  f2_height  f2_weight  f1_age  f2_age
0         1          0        155          0          0       0       0
1         1         67        135         72        160      42      47
2         1         72        169         70        170      42      43
3         1         72        169         70        170      42      43
4         1         67        135         69        145      42      38

In [124]:
from sklearn import datasets
# Our Classifier
from sklearn.naive_bayes import GaussianNB
# Get the accuracy score of the final model
from sklearn.metrics import accuracy_score
# Split the training set into train and test
from sklearn.cross_validation import train_test_split



X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=.5,random_state = 1)

nbc = GaussianNB()

nbc.fit(X_train,y_train)

preds = nbc.predict(X_test)



print("Accuracy of the model is: %.2f%%" % (accuracy_score(preds,y_test) * 100))

Accuracy of the model is: 100.00%

In [29]:
stat1 = pd.read_csv("sherdog-fighters.csv")
stat1.head()

stat1['Weight (KG)'].unique()

array([  81.65,   90.72,  102.06,   96.16,   92.08,   70.31,   78.93,
        100.7 ,   83.91,   77.11,   92.53,  113.4 ,   97.98,  188.24,
        120.2 ,  104.33,   79.83,   88.9 ,   86.18,   95.25,    0.  ,
        131.54,  111.13,   80.74,  104.78,  272.16,  108.86,   92.99,
        106.59,   97.52,   99.79,  117.93,  107.05,  114.76,  133.81,
        112.49,   99.34,   76.66,   75.75,   87.54,  124.74,  115.67,
         82.1 ,   71.21,   86.64,  141.97,   74.84,  145.15,   63.5 ,
         66.22,   91.63,  181.44,  136.08,  117.48,   84.82,  185.97,
         90.26,  146.51,  176.9 ,  102.97,   88.45,   82.55,  105.69,
        102.51,   93.89,   89.81,  150.59,   93.44,  109.77,   72.12,
         72.57,  156.49,   84.37,  110.68,   83.01,   61.23,   71.67,
         98.43,   65.77,   79.38,   76.2 ,   96.62,  107.95,  109.32,
         77.56,   68.04,  110.22,  101.6 ,  143.34,  107.5 ,  127.01,
        122.47,  134.72,  106.14,   98.88,  129.73,  119.75,  111.58,
        154.22,   83.46,   63.05,  172.37,   70.76,   81.19,   61.69,
         69.85,   78.02,   59.87,   64.86,   68.95,   65.32,   73.48,
         97.07,  112.94,  108.41,  116.57,  116.12,   56.7 ,  103.42,
        139.71,   88.  ,   58.97,   87.09,   94.8 ,   68.49,   64.41,
         85.28,   63.96,   74.39,   54.88,   55.34,   69.4 ,   67.13,
         55.79,   51.71,   62.6 ,   52.16,   80.29,   89.36,   60.78,
        101.15,  132.9 ,   73.94,   85.73,   58.51,   66.68,   75.3 ,
        136.53,  103.87,   73.03,  147.42,   67.59,  126.1 ,  119.29,
         58.06,   91.17,  149.69,  135.17,   94.35,  114.31,  151.05,
        118.84,  179.62,  130.63,  163.29,   78.47,  117.03,   95.71,
        113.85,  120.66,  174.63,  124.28,  128.82,  142.88,  126.55,
        136.98,   51.26,   60.33,  118.39,  149.23,   62.14,  140.61,
         48.08,   46.72,   45.36,   53.98,   53.07,   43.09,   47.63,
         54.43,   48.99,   45.81,   57.61,   44.91,  138.35,  159.66,
        129.27,  115.21,  112.04,   59.42,  164.2 ])